.HomeListText{

  font-size: 30px;
  position: relative;
  left: 5px;
  top:  0px;
  bottom: 15px;
  width: 120px;
  height: auto;
  border-style: outset;
  background-color: cornsilk;
}

.HomeListText:hover,
.HomeListText.active{
  border-style: inset;
  background-color: skyblue;
}

@media screen (min-width: 600px){
  background-color: gold;
}

.UpdateNote{
  font-size: 30px;
  position: relative;
  left: 25px;
  top:  30px;
}

.DonateInfo{
  position: relative;
  left: 25px;
  top:  30px;
  text-align: center;
}

.DonateImg{
  position: relative;
  left: 5px;
}

.homebox{
  position: relative;
  left: 2%;
  background-color: skyblue;
}