.headerVar{
    position: relative;
    left: auto;    
    right: 0px;
    top: 0px;
    height: 0px;
    /* background-color: silver; */
    /*
    background-image: url("../images/SceneMaterial/bg_header.jpg");
    background-repeat:repeat;
    */
    color: burlywood;
    text-shadow: greenyellow 10px;
    text-align: center;
    font-size: x-large;
/*
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
*/
}

.headerBTNVar{
    position: relative;
    left: 0px;    
    right: 0px;
    top: 40px;
    bottom: 0px;
    height: 30px;
    width: auto;
    font-size: large;
    display: flex;
    justify-content: left; 
    align-items: left,baseline; 
    overflow-x: auto;
    overflow-y: hidden;
}

@media screen and (min-width: 768px) {
    .headerBTNVar.moblie{
        position: relative;
        top: 35px;
        height: 50px;
    }

    .headerBTNVar{
        position: relative;
        left: 0px;    
        right: 0px;
        top: 40px;
        bottom: 0px;
        height: 30px;
        width: auto;
        font-size: large;
        display: flex;
        justify-content: center; 
        align-items: center,baseline; 
        overflow-x: auto;
    }

    .headerbox{
        position: absolute;
        left: 0px;    
        right: 0px;
        top: 0;
        bottom: 0;
        background-image: url("../images/SceneMaterial/bg_header.jpg");
        background-repeat:repeat;
        
    }

    .headerVar{
        position: relative;
        left: auto;    
        right: 0px;
        top: 0px;
        height: 0px;
        /* background-color: silver; */
        /*
        background-image: url("../images/SceneMaterial/bg_header.jpg");
        background-repeat:repeat;
        */
        color: burlywood;
        text-shadow: greenyellow 10px;
        text-align: center;
        font-size: x-large;
    /*
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
    */
    }

    
 
}

.headerbox{
    position: absolute;
    left: 0;    
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../images/SceneMaterial/bg_header.jpg");
    background-repeat:repeat;
    
}

.navbar-nav{
    position: relative;
    
    width: auto;
}

.tbodyEnvVar{
    width: auto;
}

.navbarVarSetting{
    /* background-color: blue; */
    position: relative;
    left: 0px;
    top: 10%;
    background-image: url("../images/SceneMaterial/bg_header.jpg");
    background-repeat:repeat;
    width: auto;

    /* NOTE: 網頁水平卷軸出現問題 */
    overflow-x: hidden;
    right: 0px;

    /* box-sizing: border-box; */
    /* border-color: white;
    padding: 20px;

    /* margin: 3px 3px 3px 3px;*/
}

.indexEnvSetting{
    overflow-x: hidden;
    position:absolute;
    left: 0px;
    top:0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    overflow-y: hidden;
}

.tableEnvVar{
    text-align: center;
    width: auto;
}

.thEnvVarhide{
    visibility: hidden;
}

.trEnvVar{
    position: relative;
    height: 60px;
}

.thEnvVar{
    position: relative;
    left: 2%;
    top: 0%;
    font-size: auto;
    width: auto;
    height: auto;
    border-style: solid;
    border-color: rgb(5, 157, 245);
    border-radius: 10px;
    /* padding: 1px 1px 1px 1px;  */

}

.thEnvVar:hover,
.thEnvVar.active{
    border-color:red;
}
.sectionnav-link{
    position: relative;
    left: auto;
    text-align: center;
    width: auto;
}

.nav-link{
    background-color: white;
    /* margin-top: 10px;
    margin-bottom: 10px;*/
    font-size:auto;
    width: max-content;
    border-radius: 5px;
    padding: 1px 3px 1px 3px; 
}

/* over 768 pixel setting*/
@media screen and (min-width: 768px){
    .nav-link{
        background-color: white;
        /* margin-top: 10px;
        margin-bottom: 10px;*/
        font-size:xx-large;
        width: max-content;
        height: auto;
        border-radius: 5px;
        padding: 1px 1px 1px 1px; 
    }

    .headerBTNVar{
        position: relative;
        left: auto;    
        right: 0px;
        top: 30%;
        height: 8%;
        width: auto;
        font-size: large;
    }

    .trEnvVar{
        position: relative;
        border-spacing: 20px 0px;
        max-width: auto;
    }

    .asideVar {
        overflow: auto;
        position: absolute;
        width: auto;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 240px;
        /* background-color: Gold;- */
        background-image: url("../images/SceneMaterial/bg_game.jpg");
        background-repeat:repeat;
        display: flex;
        justify-content: center; 
        align-items: center,baseline; 
    }

}



.sectionVar{
    /* visibility: hidden; /* close left list */
    position: relative;
    left: 0px;
    right: 0;
    top: 120px;
    bottom: 0;
    width: 250px;
    height: 900px;
    /*
    background-image: url("../images/character/story/index_character07.jpg");
    background-size: 88%;
    */
    /*
    background-color: red;
    background-repeat:repeat;
    */

    /* margin-top: 10px;
    margin-bottom: 10px;*/

}

@media screen and (max-width: 1024px){
    .sectionVar{
        visibility: hidden; /* close left list */
        position: relative;
        left: 0px;
        right: 0;
        top: 120px;
        bottom: 0;
        width: 250px;
        height: 900px;
        background-color: skyblue;
        /*
        background-image: url("../images/character/story/index_character07.jpg");
        background-size: 88%;
        */
        /*
        background-color: red;
        background-repeat:repeat;
        */
    
        /* margin-top: 10px;
        margin-bottom: 10px;*/
    
    }
}

.listBarVar{
    position: relative;
    left: 0px;
    top: 0px;
    width: 200px;
    /* height: 50px; */
    text-align: left;
    background-color:white;
    font-size: x-large;
    text-align: center;
    border-style: solid;
    border-color: rgb(5, 157, 245);
    border-radius: 10px;
    padding: 1px 1px 1px 1px; 
}

.listBarVar:hover,
.listBarVar.active{
    border-color:red;
}

.listBarVarhide{
    visibility: hidden;
}





.asideVar {
    overflow: auto;
    position: absolute;
    width: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 80px;
    /* background-color: Gold;- */
    background-image: url("../images/SceneMaterial/bg_game.jpg");
    background-repeat:repeat;
}




.MHS2Logo {
    position: absolute;
    width: 100px;
    height: 60px;
    left: 1%;
    top: 0px;
}

.Show{
    visibility: none;
}

.Hiden{
    visibility: hidden;
}
