.headerVar{
    position: absolute;
    left: 0px;
    right: 0;
    top: 0px;
    bottom: 0;
    /* background-color: silver; */
    background-image: url("../images/SceneMaterial/bg_header.jpg");
    background-repeat:repeat;
    color: burlywood;
    text-shadow: greenyellow 10px;
    text-align: center;
    font-size: xx-large;
/*
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
*/
}

.navbarVarSetting{
    /* background-color: blue; */
    position: absolute;
    left: 140px;
    top: 40px;

    /* NOTE: 網頁水平卷軸出現問題 */
    overflow-x: hidden;
    right: 0px;

    /* box-sizing: border-box; */
    /* border-color: white;
    padding: 20px;

    /* margin: 3px 3px 3px 3px;*/
}

.indexEnvSetting{
    overflow-x: auto;
    overflow-y: auto;
}

.tableEnvVar{
    border-spacing: 20px 0px;
    text-align: center;
}



.thEnvVarhide{
    visibility: hidden;
}

.thEnvVar{
    position:absolute;
    border-style: solid;
    border-color: rgb(5, 157, 245);
    border-radius: 10px;
    padding: 1px 1px 1px 1px;
    position: relative;
    /* left: 150px; */
    left: 0px;
}

.thEnvVar:hover,
.thEnvVar.active{
    border-color:red;
}

.sectionnav-link{
    width: auto;
    font-size: x-large;
    text-align: center;
    text-shadow: 3px 3px 5px slateblue;
}

.sectionVar{
    position: absolute;
    left: 0px;
    right: 0;
    top: 70px;
    bottom: 0;
    width: 280px;

    background-image: url("../images/character/story/index_character07.jpg");
    background-size: 88%;
    /*
    background-color: red;
    background-repeat:repeat;
    */

    /* margin-top: 10px;
    margin-bottom: 10px;*/

}

.listBarVar{
    position: relative;
    /* height: 50px; */
    background-color:white;
    text-align: right;
    border-style: solid;
    border-color: rgb(5, 157, 245);
    border-radius: 10px;
    padding: 1px 1px 1px 1px; 
}

.listBarVar:hover,
.listBarVar.active{
    border-color:red;
}

.listBarVarhide{
    visibility: hidden;
}


.nav-link{
    background-color: white;
    /* margin-top: 10px;
    margin-bottom: 10px;*/
    border-radius: 5px;
    padding: 1px 1px 1px 1px; 
}



.asideVar {
    overflow: auto;
    position: absolute;
    /* left: 280px; */
    left: 0px;
    right: 0;
    top: 70px;
    bottom: 0;
    /* background-color: Gold;- */
    background-image: url("../images/SceneMaterial/bg_game.jpg");
    background-repeat:repeat;
}


.MHS2Logo {
    position: absolute;
    width: 100px;
    height: 60px;
    left: 30px;
    top: 0px;
}

.Show{
    visibility: none;
}

.Hiden{
    visibility: hidden;
}


.DonateInfo{
    position: relative;
    font-size: x-large;
    background-color: skyblue;
    width: 210px;
    border-radius: 10px;

}