body{
    font-family: "Noto Sans","Microsoft JhengHei";
    color:#545454;
  }
  a{
    text-decoration:none;
    display:block;
    width: 120px;
  }
  .box{
    position: absolute;
    left: 30px;
    width: 5000px;
    margin: 0 auto;
  }
  .menu {
    list-style-type: none;
    width: 2300px;
  }
  .menu>li>a{
    color:#545454;
    padding:0.5em;
    border:1px solid #545454;
    width: 120px;
    margin: 0.0px 2px 0.0px 2px;
    font-size: 18px;
  }
  .menu>li>a:hover,
  .menu>li>a.active{
    background: gold;
  }
  .inmenu{
    display:none;
  }
  .inmenu>li{
    padding:0.5em;
  }

  .monsterTable{
    border: 1px solid black;
    width: auto;
  }

  .monsterbox{
    border: 1px solid black;
    width: 70px;
    /* */
  }
  
  .monsterbox01{
    border: 1px solid black;
    width: 250px;
    white-space:pre-line;
    vertical-align: top;
  }

  .monsterbox02{
    border: 1px solid black;
    width: 350px;
    white-space:pre-line;
    vertical-align: top;
  }

  .monsterbox03{
    border: 1px solid black;
    width: 350px;
    white-space:pre-line;
    vertical-align: top;
  }

  .monsterbox04{
    border: 1px solid black;
    width: 250px;
    white-space:pre-line;
    top:0px;
    left:0px;
    vertical-align: top;
  }



.Monsterabliitybox{
  text-align: left;
}

.monsterTypeLine{
  text-size-adjust: auto;
  
}

.OpenAllMenu{
  position: relative;
  color:blue;
  text-shadow: 0px 0px 10px gold;
  border-style:double;
  border-color: teal;
  border-radius: 20px;  

  left: 40px;
  right: 20px;
  width: 80px;
  text-align: center;
  /* background-color: blue; */
  
}