.InfoText{
  position: relative;
  left: 0px;
  top: 50px;
}

.MonsterInfoBox{
  position: relative;
  border-style:double;
  border-color:gray;
  width: 25%;
  text-align: center;
}

.MonsterStatus{
  text-align: center;
  font-size: x-large;
}

.MonsterInfoBoxName{
  text-align: center;
  font-size: x-large;
  color:blue;
}

.MonsterInfoBoxPartWeakness{
  position: relative;
  border-style:double;
  border-color:gray;
  width: 280px;
}

.PartBox{
  position:relative;
  background-color:royalblue;
}


.NormalInfoBox{
  position: relative;
  left: auto;
  right: 0;
  width: auto;
  bottom: 0;

}

.InfoBox{
  position: relative;
  width: 25%;
}