.box{
  position: relative;
  left: auto;
  width: auto;
  height: auto;
}

.selectButtonN{
  position: relative;
  left: 7%;
  top:20px;
  border-style: outset;
  font-size: large;
  background-color: transparent;
}

.selectButtonN:hover,
.selectButtonN:active{
  border-style: inset;
}

.selectButton{
  position: relative;
  left: 7%;
  top:20px;
  border-style: outset;
  font-size: large;
  background-color: transparent;
}

.selectButton:hover,
.selectButton:active{
  border-style: inset;
}


.selectButtonN{
  background-color: skyblue;
}

.selectButtonA{
  background-color: red;
}

.selectButtonB{
  background-color: gold;
}


.LevelSelectBTN{
  position:sticky;

}

/* asign detail style*/
/*
.selectButtonN.off.test {

}

*/
