.InfoText{
  position: absolute;
  left: 50px;
  top: 50px;
}

.MonsterInfoBox{
  position: relative;
  border-style:double;
  border-color:gray;
  width: 25%;
  text-align: center;
  left: 50px;
}

.MonsterInfoBoxIcon{
  position: relative;
  border-style:none;
  border-color:gray;
  text-align: center;
  left: 50px;
}

.MonsterStatus{
  text-align: center;
  font-size: x-large;
  width: 25%;
}

.MonsterInfoBoxName{
  text-align: center;
  font-size: x-large;
  color:blue;
}

.MonsterInfoBoxPartWeakness{
  position: relative;
  border-style:double;
  border-color:gray;
  width: 25%;
}

.PartBox{
  position:relative;
  background-color:royalblue;
}
